name: Test

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  test:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - uses: leafo/gh-actions-lua@v10
        with:
          luaVersion: 5.4

      - uses: leafo/gh-actions-luarocks@v4

      - name: build
        run: |
          luarocks install busted

      - name: test
        run: |
          busted
